html {
  font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px*/
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  /*font-family: arial;*/
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;

  /*font-family: 'Open Sans', sans-serif;*/
}
#inicio{
  background-image: url(../img/fondogeneral.gif);
  background-repeat:no-repeat ;
  background-size: cover;
width: 1351px;
height: 700px;
}
.header {
  background: #bff0f6;
  height: 18vh;
  color: #353535;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 1.8rem;
  text-align: center;
  flex-direction: row;
  align-items: center;
  /*
	padding: 30px;
	text-align: center;
	
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	*/
}
.tamanoTitulo {
  font-size: 2.7rem;
}
.header figure {
  width: 23px;
  height: 23px;
  padding: 0;
  margin-left: 20px;
  margin-top: -100;
  float: left;
}
.perfil .imagen {
  padding: 0 15px;
}

.perfil .imagen img {
  width: 40px; /*Tamaño de la foto de perfil*/
}
.perfil .Perfil_Nombre {
  font-size: 13px; /*Tamaño de fuente del nombre del usuario*/
  color: rgb(55, 53, 58); /*Color del nombre del usuario"*/
  margin-bottom: 1px;
  line-height: 0.1px;
}

.perfil .Perfil_Nombre:hover {
  color: #fff; /*Color del nombre del usuario"*/
}

.contenedor {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cuerpo {
  background: #bff0f6;
  padding: 0px;
  min-height: 495px;
  height: 51.4rem;
  margin: 0rem;
  background-size: cover;
  background-position: center center;
}
.menu {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background: #353535;
  margin: 0rem;
  justify-content: center;
  text-align: center;
}
/*
font-family: 'PT Sans', sans-serif; h1
font-family: 'Oswald', sans-serif; encabezados h2
*/
.menu a {
  text-decoration: none;
  color: #fff;
  background: 353535;
  padding: 0.6rem;
  margin-right: 2.3rem;
}

.menu a:hover {
  background: #bff0f6;
}
.footer {
  /*
	background: #a20808;
	color: #aaa;
	text-align:center;
	font-size: 10px;
	padding: 30px;
	height:40;
	*/
}

.footercontador {
  margin: 0rem;
  /*
	text-align:right;
	font-size: 11px;
	*/
}
.Numero_Visitas {
  margin: 0rem 1rem;
}

/*
.hooter{
	background: #a20808;
	text-align: center;
	padding: 1px;
	height:40;
}
*/

.hooter li {
  /*background: #a20808;*/
  /*overflow: hidden;*/
  display: inline-block;
  padding: 1rem;
  /*padding-left: 1rem;*/
  list-style: none;
  text-align: center;
}

.Alinear_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #353535;
  height: 6.2rem;

  /*
	background: #a20808;
	text-align: center;
	padding: 1px;
	height:40;
	*/
}

.Contador_Footer {
  padding: 1rem;
  /*
	border: 0px solid; display: inline; margin-left:130px;
	margin-top:-1;
	*/
}
/*

ESTILOS SOLICITUDES


*/
.body_solicitud {
  display: flex;
  margin: 30px 30px 30px 70px; /*Top,left,Bot,Rigth */
}

.body_solicitud .izquierdo_solicitud {
  display: flex;
  flex-direction: column;
  box-shadow: 1.5px 1.5px 6px black;
  /*padding: 15px;*/
  border: #353535;
  margin-right: 15px;
  width: 18%;
}

.izquierdo_solicitud label {
  text-align: center;
  background-color: #64c9cf;
  padding: 10px;
  box-shadow: 1px 1px 1.5px #334756;
}

.body_solicitud .derecho_solicitud {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 6.5px #334756;
  padding: 15;
  width: 82%;
}
.button_izquierdo {
  background: #fefbf3; /* color de fondo */
  color: #316b83; /* color de fuente */
  border: 2px solid #38a3a5; /* tamaño y color de borde */
  padding: 8px 8px;
  border-radius: 10px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin: 10px;
}

.button_izquierdo:hover {
  color: #fefbf3; /* color de fuente hover */
  cursor: pointer;
}
.button_izquierdo:after {
  content: "";
  background: #38a3a5; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
}
.button_izquierdo:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
}
.form_solicitud {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 5px 5px 5px; /*Top,left,Bot,Rigth  Podria eliminarse*/
}
.form_solicitud .division_from_solicitud {
  display: flex;
}
.division_from_solicitud .espacio_solicitud {
  margin-top: 10px;
}
.form_solicitud div .form_izquierda {
  width: 25%;
  margin-bottom: 10px;
  display: block;
}
.form_solicitud div .form_derecha {
  width: 60%;
  margin-bottom: 10px;
  display: block;
}
.color_formas {
  background-color: #64c9cf;
}
.button_derecho {
  background: #fefbf3; /* color de fondo */
  color: #316b83; /* color de fuente */
  border: 2px solid #38a3a5; /* tamaño y color de borde */
  padding: 8px 8px;
  border-radius: 10px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin-right: 8px;
}
.button_derecho:hover {
  color: #fefbf3;
  cursor: pointer;
}
.button_derecho::after {
  content: "";
  background: #38a3a5; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.4s ease;
}
.button_derecho:hover::after {
  transition: all 0.4s ease-out;
  transform: scale(1, 1);
}
.centrar {
  margin-left: 21%;
}

input[type="file"] {
  margin: 0 0 15px;
  padding: 10px 1%;
  border-radius: 3px;
  /*
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  */
  border-radius: 3px;
}

.principal {
  width: 80%;
  margin: 0 auto;
  padding: 3% 0 6% 0;
  clear: both;
}

.barra {
  background-color: #f3f3f3;
  border-radius: 5px;
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.1);
  height: 25px;
}

.cancel {
  background-color: #ed1f3c;
}

.barra_azul {
  background-color: #247cc0;
  border-radius: 10px;
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 0%;
}

.barra_verde {
  background-color: #2ea265 !important;
}

.barra_roja {
  background-color: #de3152 !important;
}
.file_input {
  display: inline-block;
  border: 2px solid #334756;
  max-width: 45%;
  font-size: 14px;
}
.bajar_texto {
  margin-top: 12px;
}
#form_subir {
  margin: 1.5% 0;
  padding: 2%;
}

#barra_estado span {
  color: #fff;
  font-weight: bold;
  line-height: 25px;
}
